<div class="container">
    <h1>{{headerTxt}}</h1>
      <nav class="navbar navbar-default">
         <ul class="nav navbar-nav">
           <li><a [routerLink]="['/list']">LIST</a></li>
           <li><a [routerLink]="['/create']">CREATE</a></li>
         </ul>
       </nav>
    <router-outlet></router-outlet>
 </div>
 <div class="container">
   <div class="well text-center bg-primary">
     <footer>
      <div>Acme Web Solutions</div>
      <div>Project By <a href="#">Traversy Media</a></div>
     </footer>
   </div>
 </div>
